
<p>Copyright &copy; 2012 Riders for Health. All Rights Reserved.
    <br />
    
        @if (WorkContext.CurrentCulture == "en-US")
        {
            <strong>
                Riders for Health is registered as a 501c3 organization        
            </strong>
        }
        else
        {
            <strong>
                Riders for Health is a registered charity in England and Wales (charity no. 1054565)
            </strong>        
        }
        
</p>
<p><a href="http://pearlandvictory.com" target="_blank">Site by Pearl &amp; Victory</a></p>
