@*odd formatting in this page fulfilled by parent items *@

</div>
<div class="column span2">	
    <div class="block contact solid">
        <h2 class="small"><a href="@Url.Content(@"~/about-us/contact-us")">How Riders can support you</a></h2>
        <p>
            To find out more about training or partnering with Riders in your region, volunteering opportunities or to make a general enquiry, click here to contact us.
        </p>
        <a href="@Url.Content(@"~/enquiry-form")" class="ribbon"><span>Contact us</span></a>
    </div>
