
<div id="gallery-1" class="royalSlider rsDefault fwImage col span_4">
    @foreach(var media in Model.MediaParts) {
        @Display(New.ImageGalleryHomepageImage(MediaPart:media))
    }
</div>

