@{
    IEnumerable<object> blogPosts = Model.ContentItems;
    Model.ContentItems.Classes.Add("list");
    
}


<div id="blog-list">
    @if (blogPosts == null || !blogPosts.Any())
    {
        <p>@T("There are no posts for this blog.")</p>
    }
    else
    {
        @Display(Model.ContentItems)
    }
</div>
