@*

- Removes extra div tag from rendered content
- added the class zone to help in shape finding in dev mode. 

- removed div tag on home page for formatting

*@


@*<div class="zone">*@

    @DisplayChildren(Model) 

@*</div>*@
  